{% verbatim %}
    <div class="container clientDetails">
        <a href="#/clients/search/{{searchText}}" class="btn btn-default"><i class="fa fa-arrow-left"></i>List</a>
        <div class="row">
            <div class="col-md-6"><h3>Branch : {{client.branchInfo.name}}</h3></div>
        </div>
        
        <div class="highlight">
            <div class="row">
                <div class="col-md-6">Name : {{client.clientInfo.name}}</div>
                <div class="col-md-6">Birth Date : {{client.clientInfo.birthDate}}</div>
            </div>
        </div>
        
        <div class="highlight">
            <div class="row">
                <div class="col-md-6"><h4>Pan Number : {{client.clientInfo.panNumber}}</h4></div>
                <div class="col-md-6"><h4>Account number : {{client.clientInfo.accountNumber}}</h4></div>
            </div>
        </div>

        <div class="highlight">
            <div class="row">
                <div class="col-md-12">Address : {{client.clientInfo.address}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">City : {{client.clientInfo.city}}</div>
                <div class="col-md-4">Province : {{client.clientInfo.province}}</div>
                <div class="col-md-4">Postal code : {{client.clientInfo.postal}}</div>
            </div>
        </div>
        <a href="#/clients/search/{{searchText}}" class="btn btn-default"><i class="fa fa-arrow-left"></i>List</a>
    </div>
{% endverbatim %}