<div ng-show="display">
    <h2>Client List</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Pan number</th>
                <th>Account number</th>
                <th>Birth date</th>
                <th>Branch</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="client in clients">
            {% verbatim %}
                <td><a href="#/{{searchType}}/clientDetail/{{client.id}}/{{parentQuery}}">{{client.name}}</a></td>
                <td>{{client.panNumber}}</td>
                <td>{{client.accountNumber}}</td>
                <td>{{client.address}}</td>
                <td>{{client.branch.name}}</td>
            {% endverbatim %}
            </tr>
        </tbody>
    </table>

</div>