{% verbatim %}
    <div class="container clientDetails">
        <a href="#{{urlList}}" class="btn btn-default"><i class="fa fa-arrow-left">&nbsp</i>List</a>
        <div class="row">
            <div class="col-md-12"><h3>Financial institution : {{client.fininstitut.name}}</h3></div>
        </div>
        <div class="row">
            <div class="col-md-12">Branch : {{client.branch}}</div>
        </div>
        
        <div class="highlight">
            <div class="row">
                <div class="col-md-6">Name : {{client.name}}</div>
                <div class="col-md-6">Birth Date : {{client.birthDate}}</div>
            </div>
        </div>
        
        <div class="highlight">
            <div class="row">
                <div class="col-md-6"><h4>Pan Number : {{client.panNumber}}</h4></div>
                <div class="col-md-6"><h4>Account number : {{client.accountNumber}}</h4></div>
            </div>
        </div>

        <div class="highlight">
            <div class="row">
                <div class="col-md-12">Address : {{client.address}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">City : {{client.city}}</div>
                <div class="col-md-4">Province : {{client.province}}</div>
                <div class="col-md-4">Postal code : {{client.postal}}</div>
            </div>
        </div>
        <a href="#/{{searchType}}/clients/{{searchText}}" class="btn btn-default"><i class="fa fa-arrow-left">&nbsp</i>List</a>
    </div>
{% endverbatim %}