{% extends 'CreditUnionBackendBundle::layout.html.twig' %}


{% block javascripts %}
    {{parent()}}
    {% javascripts
        '@CreditUnionBackendBundle/Resources/public/js/importFormat_displayLog.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts  %}
{% endblock %}

{% block body -%}
<div class="row">
    <div class="col-lg-12">
        <h1>Import format</h1>
        <ol class="breadcrumb">
            <li><a href="{{path('cr_backend_admin_index')}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{path('cr_backend_fininstitut_index')}}"><i class="fa fa-dashboard"></i> Financial institution list</a></li>
            <li class="active"><i class="fa fa-sitemap"></i> Import format log</li>
        </ol>
    </div>
</div><!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-default pull-right" href="{{ path('cr_backend_fininstitut_index') }}">
            Back to the list
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {{importFormat.getLog()|raw}}
    </div>
</div>
{% endblock %}
